@import "/src/ui/scss/variables";
@import "/src/ui/scss/mixins";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  min-width: max-content;
  margin-top: 4rem;
  user-select: none;

  &-sub-text {
    @include text-light;
    @include text-lg;

    user-select: none;
    color: $light;

  }

  &-small-text {
    @include text-regular;
    @include text-sm;

    user-select: none;
    color: $light;
  }

  &-bold-text {
    @include text-bold;
    @include text-2xl;

    color: $background;
  }

  &-link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    min-width: 50rem;
    background-color: $main;
    border-radius: 2rem;
    height: 20rem;
    padding: 2rem;
  }

  &__logo-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    &-start {
      place-content: start start;
    }

    &-end {
      place-content: end end;
      height: 100%;
    }
  }

  &__links-container {
    @include flex-between;

    width: 100%;
    padding-right: 2rem;

  }

  &__column-container {
    display: flex;
    flex-direction: column;
    place-content: start start;
    height: 100%;
    gap: 2rem;
  }

}